<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesOR.css') }}">
    <title>Orador</title>
</head>
<body>

<!-- Encabezado -->
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/static/img/logo.png" alt="Logo Conferencia">
        </div>
        <h1>Conferencias Chuno</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('orador_bp.indexOR') }}">Inicio</a></li>
                <li><a href="{{ url_for('orador_bp.panel') }}">Charlas</a></li>
                <li><a href="{{ url_for('orador_bp.subirdiapo') }}">Subir Diapositivas</a></li>
                <li><a href="{{ url_for('orador_bp.perfil') }}">Perfil</a></li>
                <li><a href="{{ url_for('orador_bp.revisarEva') }}">Evaluaciones</a></li>
            </ul>
            
        </nav>
    </div>
</header>

<!-- Sección de Contenido con Tarjetas -->
<div class="cards-container">
    
    <div class="card">
        <img src="/static/img/charlas.jpg" alt="logo de Charlas">
        <h1>Charlas</h1>
        <p>Accede a todas las charlas que has registrado o en las que estás participando como orador. Aquí puedes ver los horarios, los temas a tratar y los detalles de las presentaciones. También puedes recibir actualizaciones sobre los asistentes registrados para tus charlas.</p>
        <a href="/templates/orador/panel.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/diapositiva.jpg" alt="logo de Subir Diapositivas">
        <h1>Subir Diapositivas</h1>
        <p>Sube las diapositivas de tus presentaciones para compartirlas con los asistentes de tus charlas. Asegúrate de que los materiales estén disponibles antes del inicio de cada sesión para que los participantes puedan seguir el contenido en tiempo real.</p>
        <a href="/templates/orador/subirdiapo.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/perfil.jpg" alt="logo de Perfil">
        <h1>Perfil</h1>
        <p>Consulta y edita la información de tu perfil como orador. Aquí puedes actualizar tus datos personales, añadir una biografía profesional, y gestionar las credenciales o certificados de participación en las conferencias anteriores.</p>
        <a href="/templates/orador/perfil.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/evaluaciones.jpg" alt="logo de Evaluaciones">
        <h1>Evaluaciones</h1>
        <p>Revisa las evaluaciones y comentarios de los asistentes sobre tus charlas. Utiliza esta retroalimentación para mejorar tus futuras presentaciones. También puedes responder a las preguntas o inquietudes de los participantes en esta sección.</p>
        <a href="/templates/orador/revisarEva.html">Ingresar</a>
    </div>
</div>

<!-- Pie de página -->
<footer>
    <div class="container">
        <div class="footer-section">
            <h1>Contáctanos</h1>
            <p>Email: <a href="mailto:ChunoEventos@gmail.com">ChunoEventos@gmail.com</a></p>
            <p>Teléfono: <a href="tel:+65161616">66151512101</a></p>
            <p>Universidad Católica Boliviana</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <ul class="social-media">
                <li><a href="#"><img src="/static/img/facebook.png" alt="Facebook" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/instagram.png" alt="Instagram" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/whatsapp.png" alt="WhatsApp" class="social-icon"></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 Conferencia Chuno - Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>
