<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/orador/styles.css">
    <title>Orador</title>
</head>
<body>

<!-- Encabezado -->
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/static/img/logo.png" alt="Logo Conferencia">
        </div>
        <h1>Conferencias Chuno</h1>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="panel.html">Charlas</a></li>
                <li><a href="subirdiapo.html">Subir Diapositivas</a></li>
                <li><a href="perfil.html">Perfil</a></li>
                <li><a href="revisarEva.html">Evaluaciones</a></li>
                <li><a href="../index.html">Cerrar Sesión</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Sección de Contenido con Tarjetas -->
<div class="cards-container">
    
    <div class="card">
        <img src="/static/img/charlas.jpg" alt="logo de Charlas">
        <h1>Charlas</h1>
        <p>Información sobre las charlas disponibles</p>
        <a href="/templates/orador/panel.html">Ingresar</a>
    </div>


    <div class="card">
        <img src="/static/img/diapositiva.jpg" alt="logo de Subir Diapositivas">
        <h1>Subir Diapositivas</h1>
        <p>Sube diapositivas de tus presentaciones</p>
        <a href="/templates/orador/subirdiapo.html">Ingresar</a>
    </div>

  
    <div class="card">
        <img src="/static/img/perfil.jpg" alt="logo de Perfil">
        <h1>Perfil</h1>
        <p>Información sobre tu perfil de orador</p>
        <a href="/templates/orador/perfil.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/evaluaciones.jpg" alt="logo de Evaluaciones">
        <h1>Evaluaciones</h1>
        <p>Revisa y responde a las evaluaciones</p>
        <a href="/templates/orador/revisarEva.html">Ingresar</a>
    </div>
</div>

<!-- Pie de página -->
<footer>
    <div class="container">
        <div class="footer-section">
            <h1>Contáctanos</h1>
            <p>Email: <a href="mailto:ChunoEventos@gmail.com">ChunoEventos@gmail.com</a></p>
            <p>Teléfono: <a href="tel:+65161616">66151512101</a></p>
            <p>Universidad Católica Boliviana</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <ul class="social-media">
                <li><a href="#"><img src="/static/img/facebook.png" alt="Facebook" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/instagram.png" alt="Instagram" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/whatsapp.png" alt="WhatsApp" class="social-icon"></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 Conferencia Chuno - Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>
    