<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salas Disponibles</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/salas.css') }}">
</head>
<body>
    <header>
        <div class="header-container">
            <div class="logo">
                <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo Conferencia Chuno">
            </div>
            <h1>Conferencias Chuno</h1>
            <nav>
                <ul class="nav-list">
                    <li><a href="{{ url_for('index') }}" class="active">Inicio</a></li>
                    <li><a href="{{ url_for('sobre_nosotros') }}">Sobre Nosotros</a></li>
                    <li><a href="{{ url_for('programa') }}">Programa de Conferencias</a></li>
                    <li><a href="{{ url_for('salas') }}">Salas</a></li>
                    <li><a href="{{ url_for('diapositivas') }}">Diapositivas de Oradores</a></li>
                    <li><a href="{{ url_for('votacion') }}">Votación</a></li>
                    {% if session['user'] %}
                <li><a href="{{ url_for('autenticacion_bp.logout') }}">Cerrar Sesión ({{ session['user']['name'] }})</a></li>
                {% else %}
                <li><a href="inicio_sesion.html">Iniciar Sesión</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </header>

    <section id="salas" class="seccion">
        <h2>Salas Disponibles</h2>
        <div class="room-blocks">
            <div class="room-block">
                <img src="{{ url_for('static', filename='img/sala1.jpg') }}" alt="Sala 1">
                <h3>Sala 1</h3>
                <p>Capacidad: 100 personas</p>
                <p>Equipamiento: Proyector, sonido estéreo, micrófonos inalámbricos.</p>
            </div>
            <div class="room-block">
                <img src="{{ url_for('static', filename='img/salaa2.jpg') }}" alt="Sala 2">
                <h3>Sala 2</h3>
                <p>Capacidad: 150 personas</p>
                <p>Equipamiento: Pantallas LED, sistema de videoconferencia, proyector HD.</p>
            </div>
            <div class="room-block">
                <img src="{{ url_for('static', filename='img/sala3.jpg') }}" alt="Sala 3">
                <h3>Sala 3</h3>
                <p>Capacidad: 200 personas</p>
                <p>Equipamiento: Sistema de audio profesional, iluminación ajustable, proyector 4K.</p>
            </div>
            <div class="room-block">
                <img src="{{ url_for('static', filename='img/sala4.jpg') }}" alt="Sala 4">
                <h3>Sala 4</h3>
                <p>Capacidad: 200 personas</p>
                <p>Equipamiento: Sistema de audio profesional, iluminación ajustable, proyector 4K.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer-section">
                <h1>Contáctanos</h1>
                <p>Email: <a href="mailto:ChunoEventos@gmail.com">ChunoEventos@gmail.com</a></p>
                <p>Teléfono: <a href="tel:+65161616">66151512101</a></p>
                <p>Universidad Católica Boliviana</p>
            </div>
            
            <div class="footer-section">
                <h3>Síguenos</h3>
                <ul class="social-media">
                    <li><a href="#"><img src="img/facebook.png" alt="Facebook" class="social-icon"></a></li>
                    <li><a href="#"><img src="img/instagram.png" alt="Instagram" class="social-icon"></a></li>
                    <li><a href="#"><img src="img/whatsapp.png" alt="WhatsApp" class="social-icon"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-bar">
            <p>&copy; 2024 Conferencia Chuno</p>
        </div>
    </footer>
</body>
</html>
