<!DOCTYPE html> 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesO.css') }}">
    <title>Organizador</title>
</head>
<body>

<!-- Encabezado -->
<header>
    <div class="header-container">
        <div class="logo">
            <img src="/static/img/logo.png" alt="Logo Conferencia">
        </div>
        <h1>Conferencias Chuno</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('orador_bp.panel_principal') }}">Panel General</a></li>
                <li><a href="{{ url_for('orador_bp.charlas') }}">Gestionar Charlas</a></li>
                <li><a href="{{ url_for('orador_bp.gsalas') }}">Gestionar Salas</a></li>
                <li><a href="{{ url_for('orador_bp.notiAsis') }}">Notificaciones</a></li>
                <li><a href="{{ url_for('orador_bp.personal') }}">Personal del Evento</a></li>
            </ul>
        </nav>
    </div>
</header>

<!-- Sección de Contenido con Tarjetas -->
<div class="cards-container">
    <div class="card">
        <img src="/static/img/panelG.jpg" alt="logo de Charlas">
        <h1>Panel General</h1>
        <p>Accede al panel general donde podrás tener una visión global de todas las actividades del evento. Aquí puedes revisar y gestionar el estado general de las charlas, salas, notificaciones y el personal involucrado en la conferencia.</p>
        <a href="/templates/organizador/panel_principal.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/charlasa.jpg" alt="logo de Gestionar Charlas">
        <h1>Gestionar Charlas</h1>
        <p>Administra todas las charlas disponibles en el evento. Puedes revisar, editar y eliminar charlas, así como añadir nuevas presentaciones para que los asistentes puedan disfrutar de una experiencia completa.</p>
        <a href="/templates/organizador/charlas.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/Sala-de-reuniones-1-1.jpg" alt="logo de Gestionar Salas">
        <h1>Gestionar Salas</h1>
        <p>Gestiona las diferentes salas asignadas para las charlas. Asigna horarios y verifica la capacidad de las salas para asegurar que las presentaciones se realicen de manera fluida y organizada.</p>
        <a href="/templates/organizador/gsalas.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/notifica.jpg" alt="logo de Notificaciones">
        <h1>Notificaciones</h1>
        <p>Revisa todas las notificaciones que se han enviado a los asistentes. Aquí puedes gestionar los avisos importantes y recordatorios para asegurarte de que los participantes estén bien informados.</p>
        <a href="/templates/organizador/notiAsis.html">Ingresar</a>
    </div>

    <div class="card">
        <img src="/static/img/eventop.jpg" alt="logo de Personal del Evento">
        <h1>Personal del Evento</h1>
        <p>Gestiona el personal involucrado en el evento. Asigna roles, revisa la disponibilidad y organiza al equipo encargado de asegurar que todo funcione de manera eficiente durante la conferencia.</p>
        <a href="/templates/organizador/personal.html">Ingresar</a>
    </div>
</div>

<!-- Pie de página -->
<footer>
    <div class="container">
        <div class="footer-section">
            <h1>Contáctanos</h1>
            <p>Email: <a href="mailto:ChunoEventos@gmail.com">ChunoEventos@gmail.com</a></p>
            <p>Teléfono: <a href="tel:+65161616">66151512101</a></p>
            <p>Universidad Católica Boliviana</p>
        </div>
        <div class="footer-section">
            <h3>Síguenos</h3>
            <ul class="social-media">
                <li><a href="#"><img src="/static/img/facebook.png" alt="Facebook" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/instagram.png" alt="Instagram" class="social-icon"></a></li>
                <li><a href="#"><img src="/static/img/whatsapp.png" alt="WhatsApp" class="social-icon"></a></li>
            </ul>
        </div>
    </div>
    <div class="bottom-bar">
        <p>&copy; 2024 Conferencia Chuno - Todos los derechos reservados.</p>
    </div>
</footer>

</body>
</html>
